services:
  postgres:
    image: 'postgis/postgis:18-3.6-alpine'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '32779:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
    labels:
      - 'org.springframework.boot.service-connection=postgres'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
    db-data:
