###################################### production environment properties
spring:
    application.name: umrs-backend
    banner.location: banner.txt
    jpa:
        hibernate.ddl-auto: validate
    datasource:
        url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/mydatabase}
        username: ${SPRING_DATASOURCE_USERNAME:myuser}
        password: ${SPRING_DATASOURCE_PASSWORD:secret}
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        url: ${spring.datasource.url}
        user: ${spring.datasource.username}
        password: ${spring.datasource.password}
    # Spring Data REST base path for rest repositories
    data.rest.base-path: /api/v1
    threads.virtual.enabled: true
    # Отключает автоматический запуск Docker Compose при запуске в контейнере
    docker.compose.enabled: false
logging:
    level:
        root: INFO
        com.b216.umrs: INFO
    file.path: logs/myapp.log
springdoc:
    api-docs.path: /docs

