###################################### production environment properties
spring:
    config.import: optional:file:.env[.properties]
    application.name: umrs-backend
    banner.location: banner.txt
    mail:
        host: ${MAIL_HOST}
        port: ${MAIL_PORT}
        username: ${MAIL_USERNAME}
        password: ${MAIL_PASSWORD}
        properties:
            mail.smtp.auth: ${MAIL_SMTP_AUTH}
            mail.smtp.starttls.enable: ${MAIL_SMTP_STARTTLS_ENABLE}
            mail.smtp.starttls.required: ${MAIL_SMTP_STARTTLS_REQUIRED}
            mail.smtp.ssl.trust: ${MAIL_SMTP_SSL_TRUST}
    jpa:
        hibernate.ddl-auto: update
    datasource:
        url: ${SPRING_DATASOURCE_URL}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        url: ${spring.datasource.url}
        user: ${spring.datasource.username}
        password: ${spring.datasource.password}
    # Spring Data REST base path for rest repositories
    data.rest.base-path: /api/v1
    threads.virtual.enabled: true
    session:
        store-type: jdbc
        jdbc:
            initialize-schema: never  # Используем Flyway для миграций
        timeout: 30m  # Время жизни сессии (30 минут)

server:
    port: ${SERVER_PORT}

logging:
    level:
        org.hibernate.SQL: error
        org.hibernate.type.descriptor.sql: trace
        org.springframework.security: error
    file.path: logs/myapp.log

springdoc:
    api-docs.path: /docs

app:
    admin:
        username: ${APP_ADMIN_USERNAME}
        password: ${APP_ADMIN_PASSWORD}
